name: Build and run on Linux Platforms

on:
  workflow_call:

jobs:
  build-and-run:
    name: "Build proof-producer binary in debug mode"
    runs-on: [self-hosted, Linux, X64, aws_autoscaling]
    steps:
      # https://github.com/actions/checkout/issues/1552
      - name: Clean up after previous checkout
        run: chmod +w -R ${GITHUB_WORKSPACE}; rm -rf ${GITHUB_WORKSPACE}/*;

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build and run proof-producer in debug mode
        run: |
          nix build .#packages.x86_64-linux.proof-producer-debug-tests
