name: Verify debugtt proofs

on:
  workflow_call:

jobs:
  build-and-test:
    name: "Verify hardhat proofs"
    runs-on: [self-hosted, Linux, X64, aws_autoscaling]
    steps:
      # https://github.com/actions/checkout/issues/1552
      - name: Clean up after previous checkout
        run: chmod +w -R ${GITHUB_WORKSPACE}; rm -rf ${GITHUB_WORKSPACE}/*;

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run checks for proofs-verification
        run: |
          nix build -L .?#checks.x86_64-linux.verify-proofs
